%% -*- mode: erlang -*-

{erl_opts, [{parse_transform, cut},
            {parse_transform, do},
            {parse_transform, import_as}
           ]}.

{deps, [
        {erlando, ".*", {git, "https://github.com/rabbitmq/erlando.git", "HEAD"}},
        {proper, ".*", {git, "https://github.com/manopapad/proper.git", "HEAD"}}
       ]}.
